
.container_header{
    background-color: darkblue;
    border: 1px solid black;;
}

.Photo_name{
    align:center;
    width: 20%;
    height: 20%;
    border-radius: 10%;
}

.profielschets{
    width: 50%;
    height: 25%;
    align: center;
    border: solid 1px black;
    background-color: white;
}

  #skillsbox{
    margin-left: 10vh;
    font-family: 'Roboto Serif', serif;
    font-size: 25px;
    border: solid 1px #2D4263;
    color: #ECDBBA;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #2D4263;
    width: 75vh;
    height: 57vh;
  }
  
  .skillsbar{
    width: 70vh;
    height:1vh;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  #skillsphp{
    color:#C84B31;
    background-color: #C84B31;
    height:100%;
    width: 40%;
    border-radius: 5px;
  }
  
  #skillsjs{
    color:#C84B31;
    background-color: #C84B31;
    height:100%;
    width: 10%;
    border-radius: 5px;
  }
  
  #skillssql{
    color:#C84B31;
    background-color: #C84B31;
    height:100%;
    width: 30%;
    border-radius: 5px;
  }
  
  #skillsc{
    color:#C84B31;
    background-color: #C84B31;
    height:100%;
    width: 5%;
    border-radius: 5px;
  }
  
  #skillscss{
    color:#C84B31;
    background-color: #C84B31;
    height:100%;
    width: 25%;
    border-radius: 5px;
  }
